@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.brand span{
    color: rgb(230, 195, 0);
}
.brand {
    padding: 15px 5px ;
    border-radius: 100%;
    transition: all 1s;
}
.brand:hover{
    font-size: 25px;
    transform: rotatez(2turn);
}
.brand a{
    text-decoration: none;
    color: rgb(43, 226, 150);
}
.brand:hover a{
    color: rgb(230, 195, 0);
}
.brand:hover span{
    color: rgb(43, 226, 150);
}


.barranavegacion{
    text-decoration: none;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 1em .6em;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 53, 37);
    color: rgb(43, 226, 150);
}
.main{
    margin: 0 auto;
    width: 60vw;
    height: 110vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.main span{
    color: rgb(230, 195, 0);
}
h1{
    font-size: 3em;
}
.descargar{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 15px 1px rgba(230, 195, 0, .7);
    background-color: rgb(230, 195, 0);
    transition: all .5s;
}
.descargar:hover{
    background-color: rgb(0, 169, 199);
    box-shadow: 1px 3px 15px 1px rgba(0, 169, 199, .7);
}


.contenido-datos h3, .contenido-datos h2 {
    padding: 7px 0px;
    color: rgb(0, 169, 199);
}
.contenido-datos h2 img{
    width: 45px;
    height: 45px;
}
.contenido-datos h1{
    width: 9.2em;
}
.contenido-datos h1 .barrita1{
    margin: 0 auto;
    height: 10px;
    width: 0px;
    border-bottom: 5px solid;
    border-color: rgb(230, 195, 0);
}
.contenido-datos h1 .barrita1{
    border-radius: 0%;
    animation: extencion-barra 1.8s forwards linear;
}
@keyframes extencion-barra {
    0% { width: 1px; border-radius: 0%;}
    100% { width: 440px; border-radius: 80%;}
}
.contenido-datos h3 img{
    width: 25px;
    height: 25px;
}
.content-box{
    display: grid;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 53, 37);
}
.estudios-realizados, .experiencia{
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}
.estudios-realizados h2, .experiencia h2{
    font-size: 2em;
    color: rgb(43, 226, 150);
}
.estudios-realizados span, .estudios-realizados h3, .experiencia span{
    color: rgb(230, 195, 0);
}
.separador{
    width: 15em;
    margin: 0 auto;
    border-bottom: 5px solid rgb(230, 195, 0);
    border-radius: 10px;
    margin-bottom: 5em;
}

.box-estudi1, .box-estudi2{
    display: flex;
    position: relative;
}
.box-estudi1 h3, .box-estudi2 h3{
    margin: auto 0;
    font-size: 2em;
    color: rgb(0, 169, 199);
    font-family: 'Courier New', cursive, monospace;
    font-style: italic;
}
.estudios-realizados img{
    align-content: center;
    padding-top: 2em;
    padding-left: 4em;
    height: 230px;
    width: 230px;
}
.experiencia h3{
    color: rgb(0, 169, 199);
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.5em;
}
.referencias-box{
    margin: 0 auto;
    width: 100%;
    padding: 2em;
    text-align: center;
}
.referencias-box h2{
    color: rgb(43, 226, 150);
    font-size: 2em;
}
.referencias-box table{
    padding: 0;
    margin: 0 auto;
    border: 1px solid #000000;
}
.referencias-box table th{
    color: rgb(230, 195, 0);
}
td{
    color: rgb(0, 169, 199);
}
th,td, tr{
    padding: 20px;
    margin: 0;
    border: 1px solid #000000;
}